h1 {
    font-size: 1.7rem;
}

.post a {
    text-decoration: underline;
}

.sidebar-about h1 {
    font-size: 2rem;
}

.read-more-link {
    display: none;
}

.lead {
    font-size: 0.8rem;
}

@media (min-width: 48em) {
    .sidebar {
        text-align: left;
    }
    .content {
        max-width: 43rem;
    }
}

@media (min-width: 58em) {
    html {
        font-size: 18px;
    }
}
